# IDE
.vscode
.idea

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build
/deploy/project-master.pid
/.env
/deploy/nginx.conf

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

# python
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Django stuff
*.log
local_settings.py
db.sqlite3
*.pgsql

# pyenv
.python-version

# Environments
.env
.venv
env/
venv/

# assets
media
master.pid
files
database

robots.txt
keys
