{% load tags %}

<div class="col-sm-10 col-xs-12">
    {% for error in form.non_field_errors %}
        <div class="btn btn-danger btn-block disabled allert alert-danger">{{ error }}</div>
    {% endfor %}

    <form class="form-horizontal" action="{{ action_url }}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for item in form %}
            <div class="form-group {% if item.errors %}has-error{% endif %}">
                <label class="control-label col-xs-3" for="{{ item.id_for_label }}">{{ item.label }}</label>
                <div class="col-xs-9">
                    {% if item.field.widget|typename == 'Textarea' %}
                        <textarea id="{{ item.id_for_label }}"
                                  class="form-control"
                                  placeholder="{{ item.field.widget.attrs.place_holder }}" name="{{ item.name }}"
                                  rows="{{ item.field.widget.attrs.rows }}">{% if item.value != None %}
                            {{ item.value }}
                        {% endif %}</textarea>
                    {% elif item.field.widget|typename == 'Select' %}
                        {{ item }}
                    {% else %}
                        <input type="{{ item.field.widget.input_type }}" id="{{ item.id_for_label }}"
                               class="form-control"
                               placeholder="{% if item.field.widget.attrs.placeholder != None %}  {{ item.field.widget.attrs.placeholder }} {% endif %}"
                               name="{{ item.name }}"
                               value="{% if item.value != None %}{{ item.value }}{% endif %}">

                    {% endif %}
                </div>
                {% if item.errors %}
                    {% for error in item.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                {% endif %}

            </div>
        {% endfor %}
        <div class="form-group">
            <div class="col-xs-offset-3 col-sm-9">
                <button class="btn btn-primary" type="submit">{{ title }}</button>
            </div>
        </div>
    </form>
</div>
