{% load tags %}
{% if not user.is_authenticated  and form %}
    {% for error in form.non_field_errors %}
        <div class="allert alert-danger">
            <p>{{ error }}</p>
        </div>
    {% endfor %}

    <form class="form-horizontal" action="{% url 'main' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="form-group {% if form.errors %}has-error{% endif %}">
            {% for item in form %}
                <input type="{{ item.field.widget.input_type }}" class="form-control login"
                       placeholder="{{ item.label }}" name="{{ item.name }}"
                       value="{% if item.value != None %}{{ item.value }}{% endif %}" size="8">
                {% if item.errors %}
                    {% for error in item.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Войти</button>
            <a href="{% url 'signup' %}" class="btn btn-success">Регистрация</a>
        </div>
    </form>
{% else %}
    <div class="post">
        <p>Последние комментарии: </p>
        {% for last_comment in last_comments %}
            <a href="{{ last_comment.get_absolute_url }}">{{ last_comment.text | shortern }}</a><br>
        {% endfor %}
    </div>
{% endif %}
