{% extends 'index.html' %}
{% load static %}
{% load tags %}
{% block main %}

    <div class="post row">
        <h3>Как с нами связаться?</h3>
        <hr>
        <div class="post-row">
            Все интересующие Вас вопросы, предложения, замечания направлять на адрес
                <a href="mailto:support@bmstu.fun">support@bmstu.fun</a>. <br>
            Эта страница создана для защиты проекта в <a href="https://park.mail.ru/">Технопарк@mail.ru</a>.
        </div>
    </div>

    <div class="post row">
        <h3>Кто мы?</h3>
        <hr>

        <div class="post-row col-xs-12 col-md-6 text-center"><img src="{% static 'images/sasha.jpg' %}" alt=""
                                                                  class="img-circle"><h4>Алесин Александр</h4><h6>
            Content-developer</h6><h6>Frontend-developer</h6></div>

        <div class="post-row col-xs-12 col-md-6 text-center"><img src="{% static 'images/dima.jpg' %}" alt=""
                                                                  class="img-circle"><h4>Чебаков Дмитрий</h4><h6>
            Backend-developer</h6><h6>Frontend-developer</h6></div>

        <div class="post-row text-center"><p>Мы &mdash; такие же студенты, как и вы. Учимся в МГТУ им. Баумана на
            аэрокосмическом факультете. Мы прошли через все эти задания в контрольных, домашних и экзаменационных
            работах и решили сделать вашу жизнь чуточку проще.</p></div>
    </div>

    <div class="post row">
        <h3>Кто делает задачи?</h3>
        <hr>
        <div class="post-row col-xs-12 col-md-4 text-center">
            <h4>Алесин Александр</h4>
            <h6>10 задач</h6>
        </div>
        <div class="post-row col-xs-12 col-md-4 text-center">
            <h4>Чебаков Дмитрий</h4>
            <h6>5 задач</h6>
        </div>
        <div class="post-row col-xs-12 col-md-4 text-center">
            <h4>Козырев Никита</h4>
            <h6>7 задач</h6>
        </div>
        <div class="post-row col-xs-12 col-md-6 text-center">
            <h4>Хвалынский Лев</h4>
            <h6>1 задача</h6>
        </div>
        <div class="post-row col-xs-12 col-md-6 text-center">
            <h4>Туманов Иван</h4>
            <h6>1 задача</h6>
        </div>
        <div class="post-row text-center">
            Хочешь стать автором задач? Пиши на <a href="mailto:support@bmstu.fun">support@bmstu.fun</a>.
        </div>
    </div>

    <div class="post row">
        <h3>Что за проект?</h3>
        <hr>

        <div class="post-row">
            Это сайт-помощник для студентов технических специальностей. Здесь представлена масса задач по различным
            дисциплинам.<br>
            <ul>
                <li>Выберите нужный раздел, найдите интересующую вас задачу (или воспользуйтесь поиском по стайту)</li>
                <li>Введите свои исходные данные</li>
                <li>Наслаждайтесь подробным решением именно вашей задачи!</li>
            </ul>
        </div>
    </div>

    <div class="post row">
        <h3>Какие технологии мы используем?</h3>
        <hr>

        <div class="row"><h4 align="center">Back-end</h4></div>
        <div class="post-row col-xs-12 col-md-4 text-center"><img src="{% static 'images/nginx.png' %}" alt=""
                                                                  class="img">
            <p>HTTP-сервер, почтовый прокси-сервер, TCP/UDP прокси-сервер общего назначения</p></div>
        <div class="post-row col-xs-12 col-md-4 text-center"><img src="{% static 'images/gunicorn.png' %}" alt=""
                                                                  class="img">
            <p>Python WSGI HTTP Сервер</p></div>
        <div class="post-row col-xs-12 col-md-4 text-center"><img src="{% static 'images/django.png' %}" alt=""
                                                                  class="img-circle">
            <p>Cвободный фреймворк для веб-приложений на языке Python</p></div>
        <div class="clearfix"></div>
        <div class="col-md-12 post-row text-center"><p>Supervisor: Менеджер процессов</p></div>
        <div class="clearfix"></div>

        <div class="row"><h4 align="center">Front-end</h4></div>
        <div class="post-row col-xs-12 col-md-6 text-center"><img src="{% static 'images/bootstrap.png' %}" alt=""
                                                                  class="img">
            <p>Cвободный набор инструментов для создания сайтов и веб-приложений</p></div>
        <div class="post-row col-xs-12 col-md-6 text-center"><img src="{% static 'images/jquery.png' %}" alt=""
                                                                  class="img">
            <p>Библиотека JavaScript, фокусирующаяся на взаимодействии JavaScript и HTML</p></div>
    </div>

    <div class="post row">
        <h3>Что дальше?</h3>
        <hr>
        <div class="post-row text-center"><img src="{% static 'images/bmstu.png' %}" alt="" class="img"></div>
        <div class="post-row text-center"><p>Мы получили положительные отзывы от некоторых преподавателей. Поэтому,
            возможно, мы сменим концепцию проекта и станем сотрудничать с деканатом.</p></div>
    </div>
{% endblock %}

{% block loginblock %}
    <div class="hidden-xs">
        {% include 'base/loginblock.html' with form=form last_comments=last_comments %}
    </div>
{% endblock %}

{% block sections %}
    <div class="hidden-xs">
        {% include 'base/sectionsblock.html' with sections=sections %}
    </div>
{% endblock %}
