<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}БОЛТ{% endblock %}</title>

    {% load staticfiles %}
    {% load tags %}
    <!-- Стили -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Иконка сайта -->
    <link rel="icon" href="{% static 'images/logo_molorok.ico' %}" type="image/x-icon">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
<!-- Fixed navbar -->
<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'main' %}"><img class="navbar-brand" src="{% static 'images/logo_bolt.png' %}" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Файлы <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="#">Лекции</a></li>
                        <li><a href="#">Методические пособия</a></li>
                    </ul>
                <li><a href="#">О нас</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">

            </ul>
            <form action="{% url 'search' %}" class="navbar-form navbar-right" method="GET">
                <input type="text" name="terms" class="form-control" placeholder="Искать" size="40">
                {#                <button class="btn btn-success" type="submit">Поиск</button>#}
                {% if user.is_authenticated %}
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar_small.url }}" title="{{ user.username }}" class="img-circle"
                             alt="">
                    {% else %}
                        <i class="btn fa fa-user-circle-o fa-2x" title="{{ user.username }} "
                           aria-hidden="true"></i>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{% url 'settings' %}" class="btn btn-primary"><i class="fa fa-cog"
                                                                                  aria-hidden="true"></i></a>
                        <a href="{% url 'logout' %}" class="btn btn-primary"><i class="fa fa-sign-out"
                                                                                aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </form>
        </div><!--/.nav-collapse -->
    </div>
</header>

<main class="container top-main">


    <div class="col-xs-12 col-md-2 col-md-push-10 text-center">
        {% block loginblock %}
            {% if not user.is_authenticated %}
                {% for error in form.non_field_errors %}
                    <div class="allert alert-danger">
                        <p>{{ error }}</p>
                    </div>
                {% endfor %}

                <form class="form-horizontal" action="{% url 'main' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-group {% if item.errors %}has-error{% endif %}">
                        {% for item in form %}
                            <input type="{{ item.field.widget.input_type }}" class="form-control login"
                                   placeholder="{{ item.label }}" name="{{ item.name }}" id="login"
                                   value="{% if item.value != None %}{{ item.value }}{% endif %}" size="8">
                            {% if item.errors %}
                                {% for error in item.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                            {% endif %}
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" type="submit">Войти</button>
                        <a href="{% url 'signup' %}" class="btn btn-success">Регистрация</a>
                    </div>
                </form>
            {% else %}
                <div class="post">
                    <p>Последние комментарии: </p>
                    {% for last_comment in last_comments %}
                        <a href="{{ last_comment.get_absolute_url }}">{{ last_comment.text | shortern }}</a>
                    {% endfor %}
                </div>
            {% endif %}
        {% endblock %}
    </div>

    {% block sections %}
        <div class="col-xs-12 col-md-2 col-md-pull-2 text-center">
            <ul class="nav navbar right-navbar">
                {% for section in sections %}
                    <li><a href="{{ section.get_absolute_url }}">{{ section.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    {% endblock %}

    <div class="col-xs-12 col-md-8 col-md-pull-2 main-block">

        {% block main %}
            {% for item  in news %}
                <div class="post">
                    <p class="post-title">{{ item.title }}</p>
                    <hr>
                    <p>{{ item.text }}</p>
                </div>
            {% endfor %}
        {% endblock %}
    </div>


</main>

<footer>
    <div class="container text-center">
        <hr>
        <div class="col-xs-4">
            <a href="https://github.com/mindblowingly/BOLT_PROJECT"><i class="fa fa-github footer-icon"
                                                                       aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-4">
            <a href="mailto:chad-d@mail.ru"><i class="fa fa-envelope footer-icon" aria-hidden="true"></i></a>
            <p class="footer-copy"><i class="fa fa-copyright" aria-hidden="true"></i> 2017 Alesin and Chebakov</p>

        </div>
        <div class="col-xs-4">
            <a href="https://park.mail.ru/profile/d.chebakov/"><i class="fa fa-cogs footer-icon"
                                                                  aria-hidden="true"></i></a>
        </div>
        <div>
        </div>
    </div>
</footer>
<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
</body>
</html>