<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="yandex-verification" content="c866ea655fb0dac3"/>
    <meta name="google-site-verification" content="KKP2BgF1gRj6WRB1UC6xrcl3hAE8LXzs11DiS6R2pVI"/>
    <meta name="google-site-verification" content="n_grbYUmuOEZzIfMmY_-cU_Tz6_HcLgvc8LOrW6TrsE"/>
    <meta name="yandex-verification" content="c7aaffb7785253d6"/>
    <meta name="description"
          content="Cайт-помощник для студентов технических специальностей. Здесь представлена масса задач по различным дисциплинам. Выберите нужный раздел, найдите интересующую вас задачу, введите свои исходные данные и наслаждайтесь подробным решением именно вашей задачи!">
    <meta name="keywords"
          content="bmstu.ru, мгту, электронный, университет, решение, задач, студент, bmstu, помощь, baumanki, ak3, бауман, бауманка, квантили, функции, Лапласа, распределение, генератор, выборка, решить">


    <title>{% block title %}bmstu.fun - решим все!{% endblock %}</title>

    {% load staticfiles %}
    {% load tags %}
    <!-- Стили -->
    <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
    <link href="{% static 'css/font-awesome.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">

    <!-- Иконка сайта -->
    <link rel="icon" href="{% static 'images/logo_molorok.ico' %}" type="image/x-icon">

    <!-- Шрифты -->
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
</head>

<body>
<!-- Fixed navbar -->
<header class="navbar navbar-default navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="{% url 'main' %}"><img class="navbar-brand" src="{% static 'images/logo_bolt.png' %}" alt=""></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="{% url 'utility' %}">Полезности</a></li>
                <li><a href="{% url 'aboutus' %}">О нас</a></li>

            </ul>

            <form action="{% url 'search' %}" class="navbar-form navbar-right" method="GET">
                <input type="text" name="terms" class="form-control" placeholder="Искать" size="40">
                {#                <button class="btn btn-success" type="submit">Поиск</button>#}
                {% if user.is_authenticated %}
                    {% if profile.avatar %}
                        <img src="{{ profile.avatar_small.url }}" title="{{ user.username }}" class="img-circle"
                             alt="">
                    {% else %}
                        <i class="btn fa fa-user-circle-o fa-2x" title="{{ user.username }} "
                           aria-hidden="true"></i>
                    {% endif %}
                    <div class="btn-group">
                        <a href="{% url 'settings' %}" class="btn btn-primary"><i class="fa fa-cog"
                                                                                  aria-hidden="true"></i></a>
                        <a href="{% url 'logout' %}" class="btn btn-primary"><i class="fa fa-sign-out"
                                                                                aria-hidden="true"></i></a>
                    </div>
                {% endif %}
            </form>
        </div><!--/.nav-collapse -->
    </div>
</header>

<main class="container-fluid top-main">

    <div class="col-xs-12 col-md-2 col-md-push-10 col-lg-2 text-center navigation">
        {% block loginblock %}
            {% include 'base/loginblock.html' with form=form last_comments=last_comments %}
        {% endblock %}
    </div>

    <div class="col-xs-12 col-md-2 col-md-pull-2 col-lg-2 text-center navigation">
        {% block sections %}
            {% include 'base/sectionsblock.html' with sections=sections %}
        {% endblock %}
    </div>

    <div class="col-xs-12 col-md-8 col-md-pull-2 col-lg-8 main-block">
        {% block main %}
            {% for item  in news %}
                <div class="post">
                    {% autoescape off %}
                        <p class="post-title">{{ item.title }}</p>
                        <hr>
                        <p>{{ item.text }}</p>
                    {% endautoescape %}
                </div>
            {% endfor %}
        {% endblock %}
    </div>
</main>

<footer>
    <div class="container text-center">
        <hr>
        <div class="col-xs-4">
            <a href="https://github.com/mindblowingly/BOLT_PROJECT"><i class="fa fa-github footer-icon"
                                                                       aria-hidden="true"></i></a>
        </div>
        <div class="col-xs-4">
            <a href="mailto:support@bmstu.fun"><i class="fa fa-envelope footer-icon" aria-hidden="true"></i></a>
            <p class="footer-copy"><i class="fa fa-copyright" aria-hidden="true"></i> 2019 Alesin and Chebakov</p>

        </div>
        <div class="col-xs-4">
            <a href="https://park.mail.ru/profile/d.chebakov/"><i class="fa fa-cogs footer-icon"
                                                                  aria-hidden="true"></i></a>
        </div>
        <div>
        </div>
    </div>
</footer>

<script
        src="https://code.jquery.com/jquery-1.12.4.js"
        integrity="sha256-Qw82+bXyGq6MydymqBxNPYTaUXXq7c8v3CwiYwLLNXU="
        crossorigin="anonymous"></script>
<script src="{% static 'js/bootstrap.js' %}"></script>
<script src="{% static 'js/validation.js' %}"></script>
<script src="{% static 'js/mathquill.js' %}"></script>
</body>
</html>
