{% extends 'index.html' %}
{% load tags %}

{% block main %}
    {% if not newtasks %}
        <div class="post">
            <p>Новые задачи отсутствуют.</p>
        </div>
    {% else %}
        {% for newtask in newtasks %}
            <div class="post"><a href="{{ newtask.get_absolute_url }}">{{ newtask.title }}</a></div>
        {% endfor %}
    {% endif %}
{% endblock %}

{% block loginblock %}
    <div class="hidden-xs">
        {% include 'base/loginblock.html' with form=form last_comments=last_comments %}
    </div>
{% endblock %}


{% block sections %}
    <div class="hidden-xs">
        {% include 'base/sectionsblock.html' with sections=sections %}
    </div>
{% endblock %}

