{% extends 'index.html' %}
{% load tags %}

{% block title %}bmstu.fun: {{ task.title }}{% endblock %}

{% block main %}
    <div class="post">
    {% autoescape off %}
        <p>{{ task.title }}</p>
        <p>{{ task.description }}</p>
    {% endautoescape %}
        {% include template with task=task solve=solve %}
        <hr>
        <div taskid="{{ task.id }}">
            {% csrf_token %}
            <p>Рейтинг задачи: {{ task.rating }}</p>
            {% if user.is_authenticated and not is_like %}
                <button class="btn btn-success thanks">Сказать спасибо!</button>
            {% endif %}
        </div>
        <script type="text/javascript" async
                src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
        </script>
    </div>
    {% for comment in comments %}
        <div class="col-xs-12 post">
            <div class="col-sm-2 text-center col-xs-4">
                {% if comment.user.avatar %}
                    <img src="{{ comment.user.avatar_medium.url }}" alt="" class="img-circle">
                {% else %}
                    <i class="fa fa-user-circle-o fa-5x" aria-hidden="true"></i>
                {% endif %}
                <p style="font-size: 16px">{{ comment.user.user.username }}</p>
            </div>
            <div class="col-sm-10 col-xs-8">
                <p style="word-break: break-all;">{{ comment.text }}</p>
            </div>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        {% include 'base/comment_form.html' with comment_form=comment_form task=task %}
    {% endif %}
{% endblock %}


{% block loginblock %}
    <div class="hidden-xs">
        {% include 'base/loginblock.html' with form=form last_comments=last_comments %}
    </div>
{% endblock %}


{% block sections %}
    <div class="hidden-xs">
        {% include 'base/sectionsblock.html' with sections=sections %}
    </div>
{% endblock %}


