{% extends 'index.html' %}
{% load tags %}
{% block main %}

    <div class="post">
        <h4>Полезности для студентов</h4>
        <hr>
        <p>Ресурс, который умеет решать все: <a href="http://www.wolframalpha.com/">WolframAlpha</a><br>Построение
            красивых графиков: <a href="https://www.desmos.com/calculator">Desmos</a><br>
            Подробное решение многих задач: <a href="https://math24.biz">math24</a><br>
            Если вашей задачи нет у нас, возможно, она есть тут: <a href="http://baumanki.net">baumanki.net</a></p>
    </div>

    <div class="post">
        <h4>Вычисление квантилей</h4>
        <hr>
        <form action="" name="dist-input" class="form-horizontal" style="padding-top: 15px">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="dist-name" class="control-label">Выберите тип распределения: </label>
                </div>
                <div class="col-sm-6">
                    <select name="" id="dist-name" class="form-control">
                        <option value="norm">Нормальное</option>
                        <option value="exp">Экспоненциальное</option>
                        <option value="t">Стьюдента</option>
                        <option value="chi2">Хи-квадрат</option>
                        <option value="f">Фишера</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="level" class="control-label">Введите уровень:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="level" required value="0.75">
                </div>
            </div>

            <div class="form-group hide" id="freedom-group-1">
                <div class="col-sm-5">
                    <label for="freedom" class="control-label"><span id="freedom-input-1">Введите число степеней свободы \(n\): </span></label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="freedom-1" required value="5">
                </div>
            </div>

            <div class="form-group hide" id="freedom-group-2">
                <div class="col-sm-5">
                    <label for="freedom"
                           class="control-label"><span>Введите число степеней свободы знаменателя \(k_2\): </span></label>
                </div>
                <div class="col-sm-6">
                    <input class="form-control" type="text" id="freedom-2" required value="6">
                </div>
            </div>

            <button class="btn btn-success">Вычислить!</button>
        </form>
        <div id="value-div" class="hide" style="margin: 14px auto; text-align: center">
            <span class="big-formuls-ftnz" id="value-area"></span>
        </div>
    </div>

    <script>
        document.forms['dist-input'].addEventListener('submit', function (e) {
            let csrfToken = getCookie('csrftoken');

            let divValueArea = document.querySelector('#value-div'),
                valueArea = document.querySelector('#value-area');

            e.preventDefault();
            fetch('/aboutus/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({
                    type: document.querySelector('#dist-name').value,
                    freedom1: document.querySelector("#freedom-1").value,
                    freedom2: document.querySelector("#freedom-2").value,
                    level: document.querySelector("#level").value,
                    case: 'quantile'
                }),
                credentials: 'include'
            })
                .then(response => response.text())
                .then(function (res) {
                    let type = document.querySelector('#dist-name').value,
                        freedom1 = document.querySelector("#freedom-1").value,
                        freedom2 = document.querySelector("#freedom-2").value,
                        level = document.querySelector("#level").value;

                    if (divValueArea.classList.contains('hide')) {
                        divValueArea.classList.toggle('hide');
                    }

                    if (res === 'err' || res === 'nan') {
                        valueArea.innerHTML = 'Невозможно вычислить значение.';
                    } else {
                        switch (type) {
                            case 'norm':
                                valueArea.innerHTML = `\\(\\lambda_{${level}} = ${res}\\) `;
                                break;
                            case 'exp':
                                valueArea.innerHTML = `\\(\\lambda_{${level}}(${freedom1}) = ${res}\\) `;
                                break;
                            case 't':
                                valueArea.innerHTML = `\\(t_{${level}}(${freedom1}) = ${res}\\) `;
                                break;
                            case 'chi2':
                                valueArea.innerHTML = `\\(\\chi^{2}_{${level}}(${freedom1}) = ${res}\\) `;
                                break;
                            case 'f':
                                valueArea.innerHTML = `\\(F_{${level}}(${freedom1},${freedom2}) = ${res}\\) `;
                                break;
                        }
                        MathJax.Hub.Queue(['Typeset', MathJax.Hub, valueArea]);
                    }
                });
        });


        document.querySelector('#dist-name').addEventListener('change', function (e) {
            let freedomGroup1 = document.querySelector('#freedom-group-1'),
                freedomGroup2 = document.querySelector('#freedom-group-2'),
                freedomInput1 = document.querySelector('#freedom-input-1'),
                selector = document.querySelector('select');

            if (selector.value !== 'norm') {
                freedomGroup1.classList.remove('hide');
            }

            if (selector.value === 'norm') {
                freedomGroup1.classList.add('hide');
                freedomGroup2.classList.add('hide');
            }

            if (selector.value !== 'f') {
                freedomInput1.innerHTML = 'Введите число степеней свободы \\(n \\): ';
                MathJax.Hub.Queue(['Typeset', MathJax.Hub, freedomInput1]);
            }

            if (selector.value === 'f') {
                freedomGroup1.classList.remove('hide');
                freedomGroup2.classList.remove('hide');
                freedomInput1.innerHTML = 'Введите число степеней свободы числителя \\(k_1\\): ';
                MathJax.Hub.Queue(['Typeset', MathJax.Hub, freedomInput1]);
            }
        });
    </script>


    <div class="post">
        <h4>Значения функции Лапласа</h4>
        <hr>
        <p>Интегральная функция Лапласа:</p>
        <span class="big-formuls-ftnz">$$\Phi_1(x) = \frac{1}{\sqrt{2 \pi}}\int_0^x e^{-\frac{t^2}{2}} dt$$</span>
        <span class="big-formuls-ftnz">$$\Phi_2(x) = \frac{1}{\sqrt{2 \pi}}\int_x^{\infty} e^{-\frac{t^2}{2}} dt$$</span>
        <span class="big-formuls-ftnz">$$\Phi_3(x) = \frac{1}{\sqrt{2 \pi}}\int_{-\infty}^x e^{-\frac{t^2}{2}} dt$$</span>
        Дифференциальная функция Лапласа:
        <span class="big-formuls-ftnz">$$\phi(x) = \frac{1}{\sqrt{2 \pi}} e^{-\frac{x^2}{2}}$$</span>

        <form action="" name="laplace-input" class="form-horizontal" style="padding-top: 15px">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="laplace-name" class="control-label">Выберите тип: </label>
                </div>
                <div class="col-sm-6">
                    <select name="" id="laplace-name" class="form-control">
                        <option value="laplace-int-0">Интегральная 1</option>
                        <option value="laplace-int-inf">Интегральная 2</option>
                        <option value="laplace-int-from-inf">Интегральная 3</option>
                        <option value="laplace-diff">Дифференциальная</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="laplace-arg" class="control-label">Введите значение аргумента:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="laplace-arg" required value="0.25">
                </div>
            </div>

            <button class="btn btn-success">Вычислить!</button>
        </form>
        <div id="laplace-value-div" class="hide" style="margin: 14px auto; text-align: center">
            <span class="big-formuls-ftnz" id="laplace-value-area"></span>
        </div>
    </div>

    <script>
        document.forms['laplace-input'].addEventListener('submit', function (e) {
            let csrfToket = getCookie('csrftoken');

            let divValueArea = document.querySelector('#laplace-value-div'),
                valueArea = document.querySelector('#laplace-value-area');

            e.preventDefault();
            fetch('/aboutus/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-CSRFToken': csrfToket,
                },
                body: JSON.stringify({
                    type: document.querySelector('#laplace-name').value,
                    argument: document.querySelector("#laplace-arg").value,
                    case: 'laplace'
                }),
                credentials: 'include'
            })
                .then(response => response.text())
                .then(function (res) {
                        let type = document.querySelector('#laplace-name').value,
                            argument = document.querySelector("#laplace-arg").value

                        if (divValueArea.classList.contains('hide')) {
                            divValueArea.classList.toggle('hide');
                        }

                        if (res === 'err' || res === 'nan') {
                            valueArea.innerHTML = 'Невозможно вычислить значение.';
                        } else {
                            if (type === 'laplace-int-0') {
                                valueArea.innerHTML = `\\(\\Phi_1(${argument}) = ${res}\\) `;
                            } else if (type === 'laplace-int-inf') {
                                valueArea.innerHTML = `\\(\\Phi_2(${argument}) = ${res}\\) `;
                            } else if (type === 'laplace-diff') {
                                valueArea.innerHTML = `\\(\\phi(${argument}) = ${res}\\) `;
                            }
                            else if (type === 'laplace-int-from-inf') {
                                valueArea.innerHTML = `\\(\\Phi_3(${argument}) = ${res}\\) `;
                            }

                            MathJax.Hub.Queue(['Typeset', MathJax.Hub, valueArea]);
                        }
                    }
                )
        });
    </script>


    <div class="post">
        <h4>Генератор случайной выборки</h4>
        <hr>
        <form action="" name="dist-input-for-sample" class="form-horizontal" style="padding-top: 15px">
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="dist-name-for-sample" class="control-label">Выберите тип распределения: </label>
                </div>
                <div class="col-sm-6">
                    <select name="" id="dist-name-for-sample" class="form-control">
                        <option value="norm">Нормальное</option>
                        <option value="exp">Экспоненциальное</option>
                        <option value="uniform">Равномерное</option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-5">
                    <label for="volume" class="control-label">Введите объём выборки:</label>
                </div>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="volume" required value="10">
                </div>
            </div>

            <div id="norm-group-sample">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="m-for-norm" class="control-label">
                            <span>Введите математическое ожидание <span class="big-formuls-ftnz">\(a\)</span>: </span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="m-for-norm" required value="0.0">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="d-for-norm" class="control-label">
                            <span>Введите  среднеквадратическое отклонение <span class="big-formuls-ftnz"> \( \sigma \) </span>: </span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="d-for-norm" required value="1.0">
                    </div>
                </div>
            </div>

            <div class="hide" id="exp-group-sample">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="lambda-for-exp" class="control-label">
                            <span>Введите параметр <span class="big-formuls-ftnz">\( \lambda \)</span>: </span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="lambda-for-exp" required value="2.0">
                    </div>
                </div>
            </div>

            <div class="hide" id="uniform-group-sample">
                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="a-for-uniform" class="control-label">
                            <span>Введите левый отрезок <span class="big-formuls-ftnz">\(a \)</span>: </span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="a-for-uniform" required value="1.5">
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-5">
                        <label for="b-for-uniform" class="control-label">
                            <span>Введите правый отрезок <span class="big-formuls-ftnz"> \( b \) </span>: </span>
                        </label>
                    </div>
                    <div class="col-sm-6">
                        <input class="form-control" type="text" id="b-for-uniform" required value="6.3">
                    </div>
                </div>
            </div>


            <button class="btn btn-success">Вычислить!</button>
        </form>
        <div id="result-for-sample" class="hide" style="margin: 14px auto; text-align: center">
            <span class="big-formuls-ftnz" id="value-area-for-sample"></span>
        </div>
    </div>

    <script>
        document.forms['dist-input-for-sample'].addEventListener('submit', function (e) {

            let csrfToken = getCookie('csrftoken');

            let divValueArea = document.querySelector('#result-for-sample'),
                valueArea = document.querySelector('#value-area-for-sample');

            e.preventDefault();
            fetch('/aboutus/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'Accept': 'application/json',
                    'X-CSRFToken': csrfToken,
                },
                body: JSON.stringify({
                    type: document.querySelector('#dist-name-for-sample').value,
                    m_for_norm: document.querySelector("#m-for-norm").value,
                    d_for_norm: document.querySelector("#d-for-norm").value,
                    lambda_for_exp: document.querySelector('#lambda-for-exp').value,
                    a_for_uniform: document.querySelector('#a-for-uniform').value,
                    b_for_uniform: document.querySelector('#b-for-uniform').value,
                    volume: document.querySelector("#volume").value,
                    case: 'sample'
                }),
                credentials: 'include'
            })
                .then(response => response.text())
                .then(function (res) {

                    if (divValueArea.classList.contains('hide')) {
                        divValueArea.classList.toggle('hide');
                    }

                    if (res === 'err' || res === 'nan') {
                        valueArea.innerHTML = 'Невозможно вычислить значение.';
                    } else {
                        valueArea.innerHTML = 'Ваша выборка: ' + res;
                    }
                });
        });


        document.querySelector('#dist-name-for-sample').addEventListener('change', function (e) {
            let normGroupSample = document.querySelector('#norm-group-sample'),
                expGroupSample = document.querySelector('#exp-group-sample'),
                uniformGroupSample = document.querySelector('#uniform-group-sample'),
                selector = this;

            switch (selector.value) {
                case 'norm':
                    normGroupSample.classList.remove('hide');
                    expGroupSample.classList.add('hide');
                    uniformGroupSample.classList.add('hide');
                    break;
                case 'exp':
                    normGroupSample.classList.add('hide');
                    expGroupSample.classList.remove('hide');
                    uniformGroupSample.classList.add('hide');
                    break;
                case 'uniform':
                    normGroupSample.classList.add('hide');
                    expGroupSample.classList.add('hide');
                    uniformGroupSample.classList.remove('hide');
                    break;
            }
        });

    </script>




    <script type="text/javascript" async
            src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.2/MathJax.js?config=TeX-MML-AM_CHTML">
    </script>

{% endblock %}

{% block loginblock %}
    <div class="hidden-xs">
        {% include 'base/loginblock.html' with form=form last_comments=last_comments %}
    </div>
{% endblock %}

{% block sections %}
    <div class="hidden-xs">
        {% include 'base/sectionsblock.html' with sections=sections %}
    </div>
{% endblock %}
