{% load staticfiles %}
<link rel="stylesheet" href="{% static 'css/mathquill.css' %}">

<style>
    .matrix-td {
        min-width: 40px;
        min-height: 30px;
        text-align: center;
        padding: 6px;
        border: 1px solid rgb(85, 85, 85);
        border-radius: 5px;
        display: inline-block;
        margin: 2px 3px;
    }

    .brackets {
        border: 2px solid rgb(85, 85, 85);
        border-radius: 25px;
        border-top-color: transparent;
        border-bottom-color: transparent;
        padding: 8px;
        display: inline-block;
    }

    .big-fntz {
        line-height: 30px;
        font-size: 16px;
        text-align: center;
        vertical-align: middle;
    }

    .remove-padding {
        padding: 2px 10px !important;
    }
</style>

{% if solve.is_valid %}
    <div class="solution-block">
        <p>Вычисление символов Кристоффеля</p>
        <p>Введенная метрика:</p>
        <p class="big-formuls-ftnz">$$ ds^2 = {{ solve.metric }} $$</p>
        <p>Символы Кристоффеля {{ solve.typesym }}-го рода вычисляются по формуле:</p>
        <p class="big-formuls-ftnz">$$ {{ solve.formula }} $$</p>
        {% for ans in solve.answer %}
            <p class="big-formuls-ftnz">\(\Gamma{{ ans }}<br>\)</p>
        {% endfor %}
    </div>
{% else %}

    <form action="{{ task.get_absolute_url }}" name="Christoffel-input" class="form-horizontal"
          style="padding-top: 15px">
        <div class="form-group">
            <div class="col-sm-5">
                <label for="Christoffel-name" class="control-label">Символы Кристоффеля:</label>
            </div>
            <div class="col-sm-6">
                <select name="Christoffel-name" id="Christoffel-name" class="form-control">
                    <option value="1">Первого рода</option>
                    <option value="2">Второго рода</option>
                </select>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-5">
                <label class="control-label" for="metric">Введите метрику:</label>
            </div>
            <div class="col-xs-6">
                <div class="math-control" id="metric" name="metric" required>ds^2=</div>
            </div>
        </div>

        <button class="btn btn-success" type="submit">Получить решение!</button>
    </form>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

            let metric = MQ.MathField(document.querySelector('#metric')),
                typesym = document.querySelector('#Christoffel-name');

            document.forms['Christoffel-input'].addEventListener('submit', function (e) {
                let metricUri = encodeURIComponent(metric.text());
                e.preventDefault();
                window.location = this.action + `?metric=${metricUri}&typesym=${typesym.value}`;
            });
        });
    </script>


{% endif %}