{% load staticfiles %}

<link rel="stylesheet" href="{% static 'css/mathquill.css' %}">
<script src="{% static 'js/Chart.js' %}"></script>
<style>
    .matrix-td {
        min-width: 40px;
        min-height: 30px;
        text-align: center;
        padding: 6px;
        border: 1px solid rgb(85, 85, 85);
        border-radius: 5px;
        display: inline-block;
        margin: 2px 3px;
    }

    .brackets {
        border: 2px solid rgb(85, 85, 85);
        border-radius: 25px;
        border-top-color: transparent;
        border-bottom-color: transparent;
        padding: 8px;
        display: inline-block;
    }

    .big-fntz {
        line-height: 50px;
        font-size: 5px;
        text-align: center;
        vertical-align: middle;
    }

    .remove-padding {
        padding: 2px 10px !important;
    }

    .matrix-block {
        display: flex;
    }

    .label-div {
        margin: auto;
    }

    .post {
        overflow-x: hidden;
    }

</style>

<head>
                <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjs/4.4.0/math.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/nerdamer@0.7.11/nerdamer.core.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/nerdamer@0.7.11/Solve.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/nerdamer@0.7.11/Extra.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/nerdamer@0.7.11/Calculus.js"></script>
                <script src="https://cdn.jsdelivr.net/npm/nerdamer@0.7.11/Algebra.js"></script>
</head>

{% if solve.is_valid %}
    <style>
        @media print {
            html, body {
                display: none;
            }
        }
    </style>



    <div class="solution-block">


        <p>Корреляционная матрица: </p>
        <p class="big-ftnz">$$ A = {{ solve.matrix }} $$</p>
        <p>Вектор мат. ожидания: </p>
        <p class="big-ftnz">$$ \vec{m} = {{ solve.vector }} $$</p>
        <p>Введеная функция: </p>
        <p class="big-ftnz">$$ f = {{ solve.f }} $$</p>
        <p class="big-ftnz">$$ D[u]  = {{ solve.DU }} $$</p>
        <p class="big-ftnz">$$ D[v] = {{ solve.DV }} $$</p>
        <p class="big-ftnz">$$ cov(u,v) = {{ solve.cov }} $$</p>
        <br>
        <p class="big-ftnz">$$ Y_1 = X(t) $$</p>
        <p class="big-ftnz">$$ f = {{ solve.f }} $$</p>
        <p class="big-ftnz" id="0"></p>
        <p class="big-ftnz" id="4"></p>
        <p class="big-ftnz" id="8"></p>
        <div id="first" style="width:600px;height:400px;"></div>
        <div id="fifth" style="width:600px;height:400px;"></div>
        <div id="ninth" style="width:600px;height:400px;"></div>
        <br>
        <p class="big-ftnz">$$ Y_2 = dX(t)/dt $$</p>
        <p class="big-ftnz">$$ f = {{ solve.Df }} $$</p>
        <p class="big-ftnz" id="1"></p>
        <p class="big-ftnz" id="5"></p>
        <p class="big-ftnz" id="9"></p>
        <div id="second" style="width:600px;height:400px;"></div>
        <div id="sixth" style="width:600px;height:400px;"></div>
        <div id="tenth" style="width:600px;height:400px;"></div>
        <br>
        <p class="big-ftnz">$$ Y_3 = X(t)+dX(t)/dt $$</p>
        <p class="big-ftnz">$$ f = {{ solve.Nf }} $$</p>
        <p class="big-ftnz" id="2"></p>
        <p class="big-ftnz" id="6"></p>
        <p class="big-ftnz" id="10"></p>
        <div id="third" style="width:600px;height:400px;"></div>
        <div id="seventh" style="width:600px;height:400px;"></div>
        <div id="eleventh" style="width:600px;height:400px;"></div>
        <br>
        <p class="big-ftnz">$$ Y_4 = &#8750 X(s)ds $$</p>
        <p class="big-ftnz">$$ f = {{ solve.If }} $$</p>
        <p class="big-ftnz" id="3"></p>
        <p class="big-ftnz" id="7"></p>
        <p class="big-ftnz" id="11"></p>
        <div id="fourth" style="width:600px;height:400px;"></div>
        <div id="eighth" style="width:600px;height:400px;"></div>
        <div id="twelfth" style="width:600px;height:400px;"></div>
        <br>
        <p class="big-ftnz" id="12"></p>
        <div id="thirteenth" style="width:600px;height:400px;"></div>
        <p class="big-ftnz" id="13"></p>
        <div id="fourteenth" style="width:600px;height:400px;"></div>

    </div>

    <script>
            var Data = []
            Data.push(nerdamer('{{ solve.Datafun.0 }}'));
            Data.push(nerdamer('{{ solve.Datafun.1 }}'));
            Data.push(nerdamer('{{ solve.Datafun.2 }}'));
            Data.push(nerdamer('{{ solve.Datafun.3 }}'));

            var MX=[],KX=[],D=[],x,RG=5,data2DMY=[[]],data2DDY=[[]],data3DZ=[[]];

            for (var i = 0; i < 4; i++)
            {
                //console.log(i);
                data2DMY[i]=[];
                data2DDY[i]=[];
                data3DZ[i]=[];
                temp = Data[i].sub('u',{{ solve.MU }});
                temp = temp.sub('v',{{ solve.MV }});
                MX.push(temp);
                document.getElementById(i.toString()).innerHTML ='$$'+'Mx ='+ MX[i].toString()+'$$' ;
                //console.log(Data[i].toString());
                //console.log(MX[i].toString());
                x = nerdamer(Data[i]+'-('+MX[i]+')');
                //console.log(x.toString());
                temp = nerdamer('expand('+'('+x.sub('t','t1')+')*('+ x.sub('t','t2')+'))');
                //console.log(temp.toString());
                temp = temp.sub('u^2',{{ solve.DU }});
                temp = temp.sub('v^2',{{ solve.DV }});
                temp = temp.sub('u*v',{{ solve.cov }});
                temp = temp.sub('v*u',{{ solve.cov }});
                temp = temp.sub('u',{{ solve.MU }});
                temp = temp.sub('v',{{ solve.MV }});
                //console.log(temp.toString());
                KX.push(temp);
                document.getElementById((i+4).toString()).innerHTML ='$$'+'Kx ='+ KX[i].toString()+'$$';
                temp = temp.sub('t1','t');
                temp = temp.sub('t2','t');
                D.push(temp);
                document.getElementById((i+8).toString()).innerHTML ='$$'+'D ='+ D[i].toString()+'$$';
                //console.log(D[i].toString());
                var count2D =0,count3D=0;

                for (var j = -RG; j < RG+1; j++)
                {
                    data2DMY[i].push(MX[i].sub('t',j));
                    data2DMY[i][count2D]=(math.eval((data2DMY[i][count2D]).toString())).toPrecision(3);
                    data2DDY[i].push(D[i].sub('t',j));
                    data2DDY[i][count2D]=(math.eval((data2DDY[i][count2D]).toString())).toPrecision(3);

                     for (var k = -RG; k < RG+1; k++)
                     {
                         temp = KX[i].sub('t1', k);
                         temp = temp.sub('t2', j);
                         data3DZ[i].push(temp);
                         data3DZ[i][count3D]=(math.eval(data3DZ[i][count3D].toString())).toPrecision(3);
                         count3D++;
                     }

                    count2D++;

                }

               /* x = Data[i] - MX[i];
                console.log(x);
            */
               //console.log(data2DMY[i].toString());
               //console.log(data2DDY[i].toString());
               //console.log(data3DZ[i].toString())
            }

    RXX1 = nerdamer.diff(KX[0],'t2');
    RX1X = nerdamer.diff(KX[0],'t1');
    //console.log(RXX1.toString());
    //console.log(RX1X.toString());
    data3DZ[4]=[];
    data3DZ[5]=[];
    count3D = 0;
        for (var j = -RG; j < RG+1; j++)
        {
            for (var k = -RG; k < RG+1; k++) {
                temp = RXX1.sub('t1',j);
                temp = temp.sub('t2',k);
                data3DZ[4].push(temp);
                data3DZ[4][count3D]=(math.eval(data3DZ[4][count3D].toString())).toPrecision(3);
                temp = RX1X.sub('t1',j);
                temp = temp.sub('t2',k);
                data3DZ[5].push(temp);
                data3DZ[5][count3D]=(math.eval(data3DZ[5][count3D].toString())).toPrecision(3);
                count3D++;
            }
        }
    document.getElementById('12').innerHTML = '$$'+'RXY ='+ RXX1.toString()+'$$';
    document.getElementById('13').innerHTML = '$$'+'RYX ='+ RX1X.toString()+'$$';

    var layout1 = {
        title: 'Mx',
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
        }
    };

       var layout2 = {
        title: 'D(t)',
        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
        }
       };

      var layout3 = {
        title: 'K(t1,t2)',
        autosize: true,


        font: {
            family: 'Courier New, monospace',
            size: 18,
            color: '#7f7f7f'
        },

      };

    var data2DX = [], data3DX = [], data3DY = [];
    for (i = - RG; i < RG+1;i++)
    {
        data2DX.push(i)
        for (j = - RG; j < RG+1;j++)
        {
            data3DX.push(i)
            data3DY.push(j)
        }
    }

FIRST = document.getElementById('first');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DMY[0],
      mode: 'lines',
    }
];
Plotly.newPlot(FIRST, data,layout1);

SECOND = document.getElementById('second');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DMY[1],
      mode: 'lines',
    }
];
Plotly.newPlot(SECOND, data,layout1);

THIRD = document.getElementById('third');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DMY[2],
      mode: 'lines',
    }
];
Plotly.newPlot(THIRD, data,layout1);

FOURTH = document.getElementById('fourth');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DMY[3],
      mode: 'lines',
    }
];
Plotly.newPlot(FOURTH, data,layout1);


FIFTH = document.getElementById('fifth');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DDY[0],
      mode: 'lines',
    }
];
Plotly.newPlot(FIFTH, data,layout2);

SIXTH= document.getElementById('sixth');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DDY[1],
      mode: 'lines'

    }
];
Plotly.newPlot(SIXTH, data,layout2);


SEVENTH = document.getElementById('seventh');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DDY[2],
      mode: 'lines'

    }
];
Plotly.newPlot(SEVENTH, data,layout2);

EIGHTH = document.getElementById('eighth');
var data=[
    {
      opacity:0.8,
      color:'rgb(300,100,200)',
      x : data2DX,
      y : data2DDY[3],
      mode: 'lines'

    }
];
Plotly.newPlot(EIGHTH, data,layout2);

NINTH = document.getElementById('ninth');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      autocolorscale: true,
      colorbar : 'thickness',
      x : data3DX,
      y : data3DY,
      z : data3DZ[0],

      type: 'mesh3d',
    }
];
Plotly.newPlot(NINTH, data,layout3);

TENTH = document.getElementById('tenth');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      x : data3DX,
      y : data3DY,
      z : data3DZ[1],
      type: 'mesh3d'
    }
];
Plotly.newPlot(TENTH, data,layout3);

ELEVENTH = document.getElementById('eleventh');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      x : data3DX,
      y : data3DY,
      z : data3DZ[2],
      type: 'mesh3d'
    }
];
Plotly.newPlot(ELEVENTH, data,layout3);

TWELFTH = document.getElementById('twelfth');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      x : data3DX,
      y : data3DY,
      z : data3DZ[3],
      type: 'mesh3d'
    }
];
Plotly.newPlot(TWELFTH, data,layout3);

THIRTEENTH = document.getElementById('thirteenth');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      x : data3DX,
      y : data3DY,
      z : data3DZ[4],
      type: 'mesh3d'
    }
];
Plotly.newPlot(THIRTEENTH, data);

FOURTEENTH = document.getElementById('fourteenth');
var data=[
    {
      opacity:1.0,
      color:'rgb(200,200,200)',
      x : data3DX,
      y : data3DY,
      z : data3DZ[5],
      type: 'mesh3d'
    }
];
Plotly.newPlot(FOURTEENTH, data);

    </script>


    {% comment %}

        <div class="form-group col-md-12">
            <div class="col-xs-12 col-md-4">
                <button id="save-to-pdf" class="btn btn-info">Сохранить в pdf</button>
            </div>
        </div>

    {% endcomment %}



    <script>
        document.addEventListener('copy', e => e.preventDefault());
        document.addEventListener('cut', e => e.preventDefault());
        document.addEventListener('contextmenu', e => e.preventDefault());
        document.addEventListener('keydown', e => (e.ctrlKey && e.keyCode === 80) ? e.preventDefault() : true);
    </script>

    {% comment %}

        <script>
            document.querySelector('#save-to-pdf').addEventListener('click', function () {
                document.querySelector('.task-description').classList.add('ignore-to-pdf');
                this.classList.add('ignore-to-pdf');
                [].slice.call(document.querySelectorAll('hr')).forEach(function (e) {
                    e.classList.add('ignore-to-pdf');
                });

                document.querySelector('header').classList.add('ignore-to-pdf');
                [].slice.call(document.querySelectorAll('navigation')).forEach(function (value) {
                    value.classList.add('ignore-to-pdf');
                });

                let mainBlock = document.querySelector('.main-block');
                mainBlock.classList.remove('col-md-8');
                mainBlock.classList.add('col-md-12');
                document.querySelector('main').classList.remove('top-main');

                document.querySelector('footer').classList.add('ignore-to-pdf');
                document.querySelector('.post').style.fontSize = '18px';


                new Promise((resolve) => {
                    print();
                    resolve();
                }).then(() => {
                    mainBlock.classList.remove('col-md-12');
                    mainBlock.classList.add('col-md-8');
                    document.querySelector('main').classList.add('top-main');
                    document.querySelector('.post').style.fontSize = '14px';
                });
            })

        </script>
    {% endcomment %}



{% else %}
    <style>
        @media print {
            html, body {
                display: none;
            }
        }
    </style>


    <script>
        document.addEventListener('cut', (e) => e.preventDefault());
        document.addEventListener('copy', (e) => e.preventDefault());
        document.addEventListener('contextmenu', (e) => e.preventDefault());
        document.addEventListener('keydown', (e) => (e.ctrlKey && e.keyCode === 80) ? e.preventDefault() : true);
    </script>



        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="f">Введите f(u,v):</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="text" id="f" name="f" required>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-8 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 text-center">
                        <p class="big-fntz"> Ковариационная матрица: </p>
                    </div>
                </div>
                <div class="matrix-block row">
                    <div class="col-xs-3 big-fntz label-div">
                        <label for="matrix-A" class="label-control big-formuls-ftnz">$$ A = $$</label>
                    </div>
                    <div class="col-xs-9">
                        <div class="brackets">
                            <div class="matrix" id="matrix-A"></div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-md-4 col-xs-12 col-sm-12">
                <div class="row">
                    <div class="col-md-12 col-xs-12 text-center">
                        <p class="big-fntz">Вектор мат. ожидания: </p>
                    </div>
                </div>
                <div class="matrix-block row">
                    <div class="col-xs-3 big-fntz label-div">
                        <label for="vector-p" class="label-control big-formuls-ftnz">$$ \vec{m} = $$</label>
                    </div>
                    <div class="col-xs-9">
                        <div class="brackets">
                            <div id="vector-p" class="vector"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

<form class="form-horizontal" action="{{ task.get_absolute_url }}" method="get" name="norm">
        <div class="row">
            <div class="form-group col-md-12">
                <div class="col-xs-12 col-md-4">
                    <button class="btn btn-success" type="submit">Получить решение!</button>
                </div>
                <div class="col-xs-12 col-md-8 big-fntz">
                    <p><font color="red">{{ solve.err }}</font></p>
                </div>
            </div>
        </div>
    </form>

    <script>
        let rows = 2;
        let matrix = [];
        let vector = [];

         document.addEventListener('DOMContentLoaded', function () {
            MQ = MathQuill.getInterface(MathQuill.getInterface.MAX);

            for (let i = 0; i < rows; i++) {
                matrix.push([]);
                let row = document.createElement('div');
                row.className = 'matrix-row';
                for (let j = 0; j < rows; j++) {
                    let cell = document.createElement('div');
                    cell.className = 'matrix-td';
                    row.appendChild(cell);
                    let mathCell = MQ.MathField(cell);
                    matrix[i].push(mathCell);
                }

                document.querySelectorAll('.matrix')[0].appendChild(row);
            }

            for (let i = 0; i < rows; i++) {
                let row = document.createElement('div');
                row.className = 'vector-row';
                let cell = document.createElement('div');
                cell.className = 'matrix-td';
                row.appendChild(cell);
                let mathCell = MQ.MathField(cell);
                vector.push(mathCell);

                document.querySelectorAll('.vector')[0].appendChild(row);
            }

             document.forms['norm'].addEventListener('submit', function (ev) {
            ev.preventDefault();


            let locationString = '';
            for (let i = 0; i < rows; i++) {
                for (let j = 0; j < rows; j++) {
                    let val = matrix[i][j].text();
                    if (!val.length) {
                        return false;
                    }

                    locationString += val + ' ';
                }
            }

            let locationString1 = '';
            for (let i = 0; i < rows; i++) {
                let val = vector[i].text();
                if (!val.length) {
                    return false;
                }

                locationString1 += val + ' ';
            }
            let f = document.querySelector('#f');
           let metricUri = encodeURIComponent(f.value);
            window.location = this.action + `?rows=${rows}&valuesm=${locationString}&valuesv=${locationString1}&fun=${metricUri}`;
        });

              });


    </script>

{% endif %}

