{% extends 'index.html' %}

{% block main %}
    <form action="{% url 'changetitle' %}" method="post" class="form-horizontal">
        {% csrf_token %}
        <div class="form-group {% if form.errors %}has-error{% endif %}">
            <label class="control-label col-xs-2" for="{{ form.id_for_label }}">{{ form.label }}</label>
            <div class="col-xs-10">
                <textarea id="{{ form.id_for_label }}"
                          class="form-control"
                          placeholder="{{ form.field.widget.attrs.place_holder }}" name="{{ form.name }}"
                          rows="{{ form.field.widget.attrs.rows }}"
                >{% if form.value != None %}{{ form.value }}{% endif %}</textarea>
            </div>
            {% if form.errors %}
                {% for error in form.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
            {% endif %}
        </div>

        <div class="form-group">
            <div class="col-xs-offset-2 col-sm-10">
                <button class="btn btn-primary" type="submit">Сохранить!</button>
            </div>
        </div>
    </form>
{% endblock %}