{% if solve.is_valid %}
    <div class="solution-block">
        <p>Решение: </p>
        <p class="big-formuls-ftnz">
            Сначала найдем вероятности промаха для каждого стрелка:
            \( q_1 = 1 - p_1 = 1 - {{ solve.p1 }} = {{ solve.q1 }} \);
            \( q_2 = 1 - p_2 = 1 - {{ solve.p2 }} = {{ solve.q2 }} \).<br>
            Чтобы цель не была поражена, первый стрелок должен промахнуться все \( {{ solve.n1 }} \) раз
            (вероятность \({{ solve.q1 }}^{ {{ solve.n1 }} }\)), второй стрелок должен промахнуться
            \( {{ solve.n2 }} \) раза (вероятность \( {{ solve.q2 }}^{ {{ solve.n2 }} } \)), так как выстрелы
            стрелков независимы, искомая вероятность, что цель не будет поражена, равна:
            \( P = q_1^{n_1}q_2^{n_2} =  {{ solve.q1 }}^{ {{ solve.n1 }} } \cdot
            {{ solve.q2 }}^{ {{ solve.n2 }} } = {{ solve.P }}\).
        </p>
    </div>
{% else %}
    <form class="form-horizontal" action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
            <div class="col-xs-3">
                <label for="p1" class="big-formuls-ftnz control-label">Введите \(p_1\)</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="number" id="p1" name="p1"  step="0.01" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label for="p2" class="big-formuls-ftnz control-label">Введите \(p_2\)</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="number" id="p2" name="p2"  step="0.01" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label for="n1" class="control-label big-formuls-ftnz">Введите \(n_1\)</label>
            </div>

            <div class="col-xs-9">
                <input class="form-control" type="number" id="n1" name="n1" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label for="n2" class="control-label big-formuls-ftnz">Введите \(n_2\)</label>
            </div>

            <div class="col-xs-9">
                <input class="form-control" type="number" id="n2" name="n2" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12 ">
                <button class="btn btn-success" type="submit">Получить решение!</button>
            </div>
        </div>
    </form>

{% endif %}