<script 
src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
</script>
{% if solve.is_valid %}
    
    <p><font size=4>За элементарное событие будем считать распределение N пассажиров по K-1 этажам.<br>
    У каждого пассажира \(К-1\) способов выйти, значит \((К-1)^N\) способов выйти всем пассажирам, это все возможные исходы.<br>
    \(P = (K-1)^N = ({{ solve.K }} - 1)^{{ solve.N }} = {{ solve.P }}.\)<br>
    a) Если все выходят на разных этажах, то количество способов выйти: \((К-1)(К-2)...(К-N)\), это все благоприятные исходы.<br>
    Это число равно количеству размещений из \((К-1)\) элементов по \(N\).<br>
    \(А_{K-1}^N = \frac{ (К-1)! }{ (К-1-N)! } = \frac { ({{ solve.K }}-1)! }{ ({{ solve.K }}-1-{{ solve.N }})! } = {{ solve.A }}.\)<br>
    Значит, искомая вероятность: \(P_{a} = \frac{P}{A} = \frac{ {{ solve.P }} }{ {{ solve.A }} } = {{ solve.ans_a }}.\)<br>
    б) Это событие противоположно событию а) значит \(Р_{а} + Р_{б} = 1.\) Следовательно, \(Р_{б} = 1 - Р_{а} = 1 - {{ solve.ans_a }} = {{ solve.ans_b }}.\)</font></p> 
{% else %}
            <form action="{{ task.get_absolute_url }}" method="get">
                <label for="N">Введите N</label>
                <input type="number" id="N" name="N">
                <label for="N">Введите K</label>
                <input type="number" id="K" name="K">
                <button class="btn btn-success" type="submit">Получить решение!</button>
            </form>
{% endif %}
