{% if solve.is_valid %}
    <div class="solution-block">
        <p>Решение: </p>
        <p class="big-formuls-ftnz">За элементарное событие будем считать распределение \( N \) пассажиров по \( K-1 \)
            этажам.<br>
            У каждого пассажира \( К-1 \) способов выйти, значит \( (К-1)^N \) способов выйти всем пассажирам, это все
            возможные исходы.<br>
            \( P = (K-1)^N = ({{ solve.K }} - 1)^{{ solve.N }} = {{ solve.P }}.\)<br>
            a) Если все выходят на разных этажах, то количество способов выйти: \((К-1)(К-2)...(К-N)\), это все
            благоприятные исходы.<br>
            Это число равно количеству размещений из \( (К-1) \) элементов по \( N \).<br>
            \( А_{K-1}^N = \large \frac{ (К-1)! }{ (К-1-N)! } = \frac { ({{ solve.K }}-1)! }{
            ({{ solve.K }}-1-{{ solve.N }})!
            } \) \(= {{ solve.A }}.\)<br>
            Значит, искомая вероятность: \( P_{a} = \large \frac{P}{A} = \frac{ {{ solve.P }} }{ {{ solve.A }} } \)
            \(= {{ solve.ans_a }}.\)<br>
            б) Это событие противоположно событию а) значит \( Р_{а} + Р_{б} = 1.\) Следовательно, \( Р_{б} = 1 - Р_{а}
            = 1
            - {{ solve.ans_a }} = {{ solve.ans_b }}.\)</p>
    </div>
{% else %}
    <form class="form-horizontal" action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="N">Введите N:</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="number" id="N" name="N" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="K">Введите K:</label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="number" id="K" name="K" required>
            </div>
        </div>
        <div class="form-group">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Получить решение!</button>
            </div>
        </div>
    </form>
{% endif %}
