<p>За элементарное событие будем считать распределение N пассажиров по K-1 этажам.<br>
У каждого пассажира К-1 способов выйти, значит (К-1)^N способов выйти всем пассажирам, это все возможные исходы.<br>
P = (K-1)^N = ({{ K }} - 1)^{{ N }} = {{ P }}.<br>
a) Если все выходят на разных этажах, то количество способов выйти: (К-1)(К-2)...(К-N), это все благоприятные исходы.<br>
Это число равно количеству размещений из (К-1) элементов по N.<br>
А = (К-1)!/(К-1-N)! = ({{ K }}-1)!/({{ K }}-1-{{ N }})! = {{ A }}.<br>
Значит, искомая вероятность: Pa = P/A = {{ P }}/{{ A }} = {{ ans_a }}.<br>
б) Это событие противоположно событию а), значит Ра + Рб = 1. Следовательно, Рб = 1 - Ра = 1 - {{ ans_a }} = {{ ans_b }}.</p>