{% if solve.is_valid %}
    <p class="big-formuls-ftnz">За элементарное событие будем считать один из N вызовов.<br>
        Вероятность M сбоев из N вызовов найдем по формуле Бернулли, которая при \(p \rightarrow 0\) и \(n\rightarrow
        \infty\), переходит в формулу Пуассона: <br>
        $$P = \frac{\lambda ^M}{M!} \cdot e^{-\lambda}~,$$ где \( \lambda = N \cdot P\) - среднее количество сбоев.<br>
        \(P = \large \frac{ {{ solve.lam }} ^ {{ solve.M }} }{ {{ solve.M }}! } \cdot e^{- {{ solve.lam }} }\)
        \(= {{ solve.Pa }}. \)<br>
    </p>
{% else %}
    <form action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
            <label for="M">Введите M:</label>
            <input type="number" id="M" name="M" required>
        </div>
        <div class="form-group">
            <label for="N">Введите N:</label>
            <input type="number" id="N" name="N" required>
        </div>
        <div class="form-group">
            <label for="P">Введите P:</label>
            <input type="text" id="P" name="P" required>
        </div>
        <div class="form-group">
            <button class="btn btn-success" type="submit">Получить решение!</button>
        </div>
    </form>
{% endif %}

