{% extends 'index.html' %}
{% block main %}
    <form action="{% url 'checknewsolution' id=newtask.id %}" class="form-horizontal" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {% for field in formset %}
            <div class="form-group {% if field.errors %}has-error{% endif %}">
                <label class="control-label col-md-2" for="{{ field.id_for_label }}">{{ field.label }}</label>
                <div class="col-md-10">
                    {{ field }}
                </div>
                 {% if field.errors %}
                    {% for error in field.errors %}<span class="help-block">{{ error }}</span>{% endfor %}
                {% endif %}

            </div>
        {% endfor %}
        <div class="col-md-offset-2 col-md-10">
            <button class="btn btn-success" name="save" type="submit" value="save">Сохранить</button>
            <button class="btn btn-danger" name="delete" type="submit" value="delete">Удалить</button>
        </div>
    </form>
{% endblock %}
{% block loginblock %}{% endblock %}