<head>
    <meta charset="utf-8">
</head>

{% load staticfiles %}

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
<script src="{% static 'js/Chart.js' %}"></script>
{% if solve.is_valid %}
    <input type="hidden" id="input-numbers" value="{{ solve.numbers }}">
    <canvas id="graph-1"></canvas>
    <canvas id="graph-2"></canvas>
    <canvas id="graph-3"></canvas>
    <script type="text/javascript">

let numbers = document.getElementById('input-numbers').value.split(',').map((value, index) => +value);

    let arr_obj = [];
    let index = [];
    for (let i = 0; i < numbers.length; i++) {
        index.push(i + 1);
        arr_obj.push({x: i + 1, y: numbers[i]});
    }


    new Chart(document.getElementById("graph-1").getContext('2d'), {
        type: 'line',
        // showTooltips: false,
        data: {
            labels: index,
            datasets: [{
                label: 'asdf',
                data: arr_obj,
                borderColor: 'rgba(93,133,245, 1)',
                borderWidth: 3,
                fill: false,
                // steppedLine: false,
                lineTension: 0,
                pointBackgroundColor: 'white',
                pointBorderColor: 'black',
                pointBorderWidth: 1,
                pointRadius: 3,
                pointHoverBackgroundColor: 'black',
                showLine: true,
            }]
        },
        options: {
            legend: false,
            responsive: true,
            title: {
                display: true,
                text: 'Первичная статистическая обработка'
            },
            scales: {
                xAxes: {
                    display: true,
                    type: 'linear',
                },
                yAxes: {
                    display: true,
                    type: 'linear',
                },
            }
        }
    });


    new Chart(document.getElementById("graph-2").getContext('2d'), {
        type: 'line',
        data: {
            labels: index,
            datasets: [{
                label: 'Dataset with',
                data: numbers.sort((a, b) => a - b),
                borderColor: 'rgba(93,133,245, 1)',
                borderWidth: 3,
                fill: false,
                // steppedLine: false,
                lineTension: 0,
                pointBackgroundColor: 'white',
                pointBorderColor: 'black',
                pointBorderWidth: 1,
                pointRadius: 3,
                pointHoverBackgroundColor: 'black',
                showLine: true,
            }]
        },
        options: {
            legend: false,
            responsive: true,
            title: {
                display: true,
                text: 'Вариационный график'
            },
            scales: {
                xAxes: [{
                    display: true,
                }],
                yAxes: [{
                    display: true,
                }]
            }
        }
    });


    const min = Math.floor(numbers[0]);
    const max = Math.ceil(numbers[numbers.length - 1]);

    var result = {}; // убираем копии и считаем сколько раз встречается каждое
    numbers.forEach(function (a) {
        result[a] = result[a] + 1 || 1;
    });

    fr = [];
    for (value of Object.keys(result)) {
        fr.push({x: +value, y: +result[value]});
    }

    fr.sort((a, b) => a.x - b.x);

    freq = []; // кол-во чисел, которые <= чем наше уникальное число
    num = []; // уникальные числа + расширения по бокам
    k = 0;
    for (let i = 0; i < fr.length; i++){
        k += fr[i].y/numbers.length;
        freq.push(k);
        num.push(fr[i].x);
    }
    freq.unshift(0);
    freq.push(1);
    num.unshift(min-1);
    num.push(max+1);

    new Chart(document.getElementById("graph-3").getContext('2d'), {
            type: 'line',
            data: {
                labels: num,

                datasets: [{
                    data: freq,
                    borderColor: 'rgba(93,133,245, 1)',
                    borderWidth: 3,
                    fill: false,
                    steppedLine: true,
                    lineTension: 0,
                    pointBackgroundColor: 'white',
                    pointBorderColor: 'black',
                    pointBorderWidth: 1,
                    pointRadius: 1,
                    pointHoverBackgroundColor: 'black',
                    showLine: true,
                }]
            },
            options: {
                legend: false,
                responsive: true,
                title: {
                    display: true,
                    text: 'Эмпирическая функция распределения (ЭФР)'
                },
                scales: {
                    xAxes: [{
                        display: true,
                    }],
                    yAxes: [{
                        display: true,
                    }]
                }
            }
        }
    );
</script>
        
    
{% else %}

    <form action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
        <textarea class="form-control"
                  placeholder="Введите генеральную совокупность, состоящую из случайных величин, через запятую: "
                  name="numbers" required="" maxlength="1000" rows="4"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Получить решение!</button>
    </form>

{% endif %}
