<head>
    <meta charset="utf-8">
</head>

{% load staticfiles %}

<script src="{% static 'js/Chart.js' %}"></script>
{% if solve.is_valid %}
    <p>Ваша генеральная совокупность: {{ solve.numbers }}</p>
    <canvas id="graph-1"></canvas>
    <canvas id="graph-2"></canvas>
    <canvas id="graph-3"></canvas>
    <canvas id="graph-4"></canvas>
    <script type="text/javascript">

        new Chart(document.getElementById("graph-1").getContext('2d'), {
            type: 'line',
            // showTooltips: false,
            data: {
                labels: {{ solve.index }},
                datasets: [{
                    label: '',
                    data: {{ solve.numbers }},
                    borderColor: 'rgba(93,133,245, 1)',
                    borderWidth: 3,
                    fill: false,
                    // steppedLine: false,
                    lineTension: 0,
                    pointBackgroundColor: 'white',
                    pointBorderColor: 'black',
                    pointBorderWidth: 1,
                    pointRadius: 3,
                    pointHoverBackgroundColor: 'black',
                    showLine: true,
                }]
            },
            options: {
                legend: false,
                responsive: true,
                title: {
                    display: true,
                    text: 'Первичная статистическая обработка'
                },
                scales: {
                    xAxes: {
                        display: true,
                        type: 'linear',
                    },
                    yAxes: {
                        display: true,
                        type: 'linear',
                    },
                }
            }
        });


        new Chart(document.getElementById("graph-2").getContext('2d'), {
            type: 'line',
            data: {
                labels: {{ solve.index }},
                datasets: [{
                    data: {{ solve.numbers_sort }},
                    borderColor: 'rgba(93,133,245, 1)',
                    borderWidth: 3,
                    fill: false,
                    // steppedLine: false,
                    lineTension: 0,
                    pointBackgroundColor: 'white',
                    pointBorderColor: 'black',
                    pointBorderWidth: 1,
                    pointRadius: 3,
                    pointHoverBackgroundColor: 'black',
                    showLine: true,
                }]
            },
            options: {
                legend: false,
                responsive: true,
                title: {
                    display: true,
                    text: 'Вариационный график'
                },
                scales: {
                    xAxes: [{
                        display: true,
                    }],
                    yAxes: [{
                        display: true,
                    }]
                }
            }
        });

        new Chart(document.getElementById("graph-3").getContext('2d'), {
                type: 'line',
                data: {
                    labels: {{ solve.index_efr }},
                    datasets: [{
                        label: 'ЭФР',
                        data: {{ solve.efr }},
                        borderColor: 'rgba(93,133,245, 1)',
                        borderWidth: 3,
                        fill: false,
                        steppedLine: true,
                        lineTension: 0,
                        pointBackgroundColor: 'white',
                        pointBorderColor: 'black',
                        pointBorderWidth: 1,
                        pointRadius: 1,
                        pointHoverBackgroundColor: 'black',
                        showLine: true,
                    }]
                },
                options: {
                    legend: false,
                    responsive: true,
                    title: {
                        display: true,
                        text: 'Эмпирическая функция распределения (ЭФР)'
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                        }],
                        yAxes: [{
                            display: true,
                        }]
                    }
                }
            }
        );

    new Chart(document.getElementById("graph-4").getContext('2d'), {
        type: 'bar',
            data: {
                labels: {{ solve.index_polygon }},
                datasets: [{
                    type: 'line',
                    data: {{ solve.gist }},
                    borderColor: 'rgba(93,133,245, 1)',
                    borderWidth: 3,
                    fill: false,
                    // steppedLine: false,
                    lineTension: 0,
                    pointBackgroundColor: 'white',
                    pointBorderColor: 'black',
                    pointBorderWidth: 1,
                    pointRadius: 3,
                    pointHoverBackgroundColor: 'black',
                    showLine: true,
                }, {
                    type: 'bar',
                    data: {{ solve.gist }},
                    borderColor: 'rgba(93,133,245, 1)',
                    borderWidth: 3,
                    fill: false,
                    // steppedLine: false,
                    lineTension: 0,
                    pointBackgroundColor: 'white',
                    pointBorderColor: 'black',
                    pointBorderWidth: 1,
                    pointRadius: 3,
                    pointHoverBackgroundColor: 'black',
                    showLine: true,}]
            },
            options: {
                legend: false,
                responsive: true,
                title: {
                    display: true,
                    text: 'Гистограмма + полигон'
                },
                scales: {
                    xAxes: [{
                        display: true,
                        barThickness: 60,
                    }],
                    yAxes: [{
                        display: true,
                    }]
                }
            }
        });

    </script>

{% else %}

    <form action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
        <textarea class="form-control"
                  placeholder="Введите генеральную совокупность, состоящую из случайных величин: "
                  name="numbers" required="" maxlength="1000" rows="4"></textarea>
        </div>
        <button class="btn btn-success" type="submit">Получить решение!</button>
    </form>

{% endif %}
