<head>
    <meta charset="utf-8">
    <style type="text/css">
        .tftable {
            color: #333333;
            width: 100%;
            border-width: 1px;
            border-color: #bcaf91;
            border-collapse: collapse;
        }

        .tftable th {
            font-size: 24px;
            background-color: #e0e0e0;
            border-width: 1px;
            padding: 4px 8px;
            border-style: solid;
            border-color: #bcaf91;
            text-align: center;
        }

        .tftable tr {
            background-color: #ffffff;
        }

        .tftable td {
            font-size: 16px;
            border-width: 1px;
            padding: 4px 8px;
            border-style: solid;
            border-color: #bcaf91;
            text-align: center;
        }

        .tftable tr:hover {
            background-color: #ffff99;
        }

        .hidden {
            display: none;
        }

    </style>
</head>

{% load staticfiles %}
<script src="{% static 'js/Chart.js' %}"></script>
{% if solve.is_valid %}

    <p class="big-formuls-ftnz">Объем выборки: \(n = {{ solve.numberOfValues }}\) <br>
        Шаг: \(h = {{ solve.step }}\) <br></p>

    <h4>Ваша выборка:</h4>
    <table class="tftable" id="numbers" border="1">
    </table>

    <h4>Вариационный ряд:</h4>
    <table class="tftable" id="numbers-sort" border="1">
    </table><br>

    <table class="tftable" id="main" border="1">
        <tr>
            <th>\(№\)</th>
            <th>\(z_{i}\)</th>
            <th>\(z_{i+1}\)</th>
            <th>\(n_{i}\)</th>
            <th>\(\frac{n_{i}}{h}\)</th>
            <th>\(\frac{n_{i}}{h\cdot n}\)</th>
            <th>\(z_{i}^{\ast}\)</th>
        </tr>
    </table><br><br>

    <canvas id="numbers-chart"></canvas>
    <canvas id="numbers-sort-chart"></canvas>
    <canvas id="efr-chart"></canvas>
    <canvas id="polygon-chart"></canvas>

    <div id="select-visible-type-of-dist"><p style="font-size: 16px">На основании анализа графиков ЭФР и гистограммы
        формулируется гипотеза
        о законе распределения:</p>
        <form class="form-horizontal" style="padding-left: 25px" name="dist">
            <div class="form-group">
                <input type="radio" id="norm" name="type" checked>
                <label for="norm">Нормальное распределение</label>
            </div>
            <div class="form-group">
                <input type="radio" id="even" name="type">
                <label for="even">Равномерное распределение</label>
            </div>

            <div class="form-group">
                <input type="radio" id="exp" name="type">
                <label for="exp">Показательное распределение</label>
            </div>
            <div class="form-gourp">
                <input type="submit" class="btn btn-success" value="Перейти к дальнейшим вычислениям">
            </div>
        </form>
    </div>
    <div class="hidden norm dist">

        <h3>Нормальное распределение:</h3>
        <p class="big-formuls-ftnz">
            $$ f(x) = \frac{1}{\sigma \sqrt{2\pi}}e^{ -\frac{(x-a)^2}{2 \sigma^2} } $$
            Оценка параметров \( a \) и \( \sigma \) методом максимального правдоподобия:
            $$ a \approx \bar x = \frac{1}{n} \sum_{i=1}^k n_i x_i^{\ast} \approx {{ solve.norm_a }} $$
            $$ \sigma^2 \approx \tilde s^2 = \frac{1}{n - 1} \sum_{i=1}^k (x_i^{\ast} - \bar x)^2 n_i
            \approx {{ solve.norm_sigmakv }} $$
            $$ \sigma \approx {{ solve.norm_sigma }} $$
            Построим доверительные интервалы:
            $$ \bar x - \frac{s}{\sqrt{n}}t_{1-\frac{\alpha}{2}}(n-1) &#60; a &#60; \bar x +
            \frac{s}{\sqrt{n}}t_{1-\frac{\alpha}{2}}(n-1) $$
            $$ \frac{n-1}{ \chi_{1 - \frac{\alpha}{2}}^2 (n-1) } s^2 \lt \sigma^2 \lt \frac{n-1}{
            \chi_{\frac{\alpha}{2}}^2 (n-1) } s^2 $$
            где \( \alpha \ - \) уровень значимости, \( (1 - \alpha) \ - \) надежность, \( t_{1-\frac{\alpha}{2}}(n-1) -
            \) квантили распределения Стьюдента,
            \( \chi_{\frac{\alpha}{2}}^2(n-1), \ \chi_{1 - \frac{\alpha}{2}}^2(n-1) \ - \) квантили распределения
            хи-квадрат.
            $$ {{ solve.norm_levo_a }} &#60; a &#60; {{ solve.norm_pravo_a }} \Rightarrow a \approx {{ solve.norm_a }}
            \pm {{ solve.norm_apm }} $$
            $$ {{ solve.norm_levo_sigmakv }} &#60; \sigma^2 &#60; {{ solve.norm_pravo_sigmakv }} $$
            $$ {{ solve.norm_levo_sigma }} &#60; \sigma &#60; {{ solve.norm_pravo_sigma }} \Rightarrow \sigma
            \approx {{ solve.norm_sigma }} \pm {{ solve.norm_sigmapm }}$$
            Проверяем гипотезу по критерию Пирсона:<br>
            Для нормального распределения:
            $$ P(\alpha &#60; \xi &#60; \beta) = \Phi \left ( \frac{\beta - a}{\sigma} \right ) - \Phi \left (
            \frac{\alpha - a}{\sigma} \right ) $$
            Статистика Пирсона:
            $$ W = \sum \frac{(n_i - n_i^T)^2}{n_i^T} = \sum \frac{n_i^2}{n_i^T} - n ,$$
            где \( n_i^T = n\cdot p_i \). \( p_i \) и \( n_i^T \) вычисляются в предположении, что гипотеза верна.<br>
            Обозначим <span style="font-size: 20px;">\(z_{i} = \frac{x_{i} - a}{\sigma}, \ z_{i+1} = \frac{x_{i+1} - a}{\sigma} \)</span>
        </p>
        <table class="tftable" id="norm-table" border="1">
            <tr>
                <th>\(№\)</th>
                <th>\(x_{i}\)</th>
                <th>\(x_{i+1}\)</th>
                <th>\(x_{i}^{\ast} \)</th>
                <th>\(n_{i} \)</th>
                <th>\(x_{i}^{\ast}\cdot n_i \)</th>
                <th>\( z_{i} \)</th>
                <th>\( z_{i+1} \)</th>
                <th>\( \Phi \left ( z_i \right ) \)</th>
                <th>\( \Phi \left ( z_{i+1} \right ) \)</th>
                <th>\(p_{i}\)</th>
                <th>\(\ n_{i}^T \)</th>
                <th>\(\frac{n_{i}^2}{n_{i}^T}\)</th>
            </tr>
        </table>
        <p class="big-formuls-ftnz">
            Следовательно наблюдаемое значение статистики Пирсона равно:
            $$ | W | \approx {{ solve.norm_w }} $$
            Найдем $$ W_{кр} = \chi_{1-\alpha}^2(k - 1 - l) =
            \chi_{ {{ solve.nadezhnost }} }^2( {{ solve.numberOfIntervals }} - 1 - {{ solve.l_norm }} ) =
            {{ solve.norm_wkr }} ,$$
            где \(k - \) количество интервалов разбиения, \(l - \) количество параметров распределения.
            {{ solve.norm_answer }}
        </p>


    </div>
    <div class="hidden even dist">
        <h3>Равномерное распределение:</h3>
        <p class="big-formuls-ftnz">
            $$ f(x) = \left\{\begin{matrix} 0, & x &#60;a \\ \frac{1}{b-a}, & a\leq x\leq b \\ 0, &
            x>b\end{matrix}\right. $$
            Оценка параметров \( a \) и \(b \) методом максимального правдоподобия:
            $$ a\approx \frac{n}{n-1}\cdot x_{(1)} - \frac{1}{n-1}\cdot x_{n} \approx {{ solve.ravn_a }} $$
            $$ b\approx \frac{n}{n-1}\cdot x_{(n)} - \frac{1}{n-1}\cdot x_{1} \approx {{ solve.ravn_b }} $$
            Построим доверительные интервалы:
            $$ x_{(1)} - l\cdot (1-\alpha^\frac{1}{n}) &#60; a &#60; x_{(1)} ,$$
            $$ x_{(n)} &#60; b &#60; x_{(n)} + l\cdot (1-\alpha^\frac{1}{n}) ,$$
            где \( \alpha \ - \) уровень значимости, \( (1 - \alpha) \ - \) надежность, \( l = x_{(n)} - x_{(1)} \)
            $$ {{ solve.ravn_levo_a }} &#60; a &#60; {{ solve.min }} \Rightarrow a \approx {{ solve.ravn_a }}
            \pm {{ solve.ravn_apm }} $$
            $$ {{ solve.max }} &#60; b &#60; {{ solve.ravn_pravo_b }} \Rightarrow b \approx {{ solve.ravn_b }}
            \pm {{ solve.ravn_bpm }} $$
            Проверяем гипотезу по критерию Пирсона:<br>
            Для равномерного распределения:
            $$ P(\alpha &#60; \xi &#60; \beta) = \frac{\beta - \alpha}{b - a} $$
            Статистика Пирсона:
            $$ W = \sum \frac{(n_i - n_i^T)^2}{n_i^T} = \sum \frac{n_i^2}{n_i^T} - n ,$$
            где \( n_i^T = n\cdot p_i \). \( p_i \) и \( n_i^T \) вычисляются в предположении, что гипотеза верна.
        </p>
        <table class="tftable" id="even-table" border="1">
            <tr>
                <th>\(№\)</th>
                <th>\(x_{i}\)</th>
                <th>\(x_{i+1}\)</th>
                <th>\(x_{i}^{\ast} \)</th>
                <th>\(n_{i}\)</th>
                <th>\(p_{i}\)</th>
                <th>\(\ n_{i}^T \)</th>
                <th>\(\frac{n_{i}^2}{n_{i}^T}\)</th>
            </tr>
        </table>
        <p class="big-formuls-ftnz">
            Следовательно наблюдаемое значение статистики Пирсона равно:
            $$ | W | \approx {{ solve.ravn_w }} $$
            Найдем $$ W_{кр} = \chi_{1-\alpha}^2(k - 1 - l) =
            \chi_{ {{ solve.nadezhnost }} }^2( {{ solve.numberOfIntervals }} - 1 - {{ solve.l_ravn }} ) =
            {{ solve.ravn_wkr }} ,$$
            где \(k - \) количество интервалов разбиения, \(l - \) количество параметров распределения.
            {{ solve.ravn_answer }}
        </p>
    </div>
    <div class="hidden exp dist">
        <h3>Показательное распределение:</h3>
        <p class="big-formuls-ftnz">
            $$ f(x) = \left\{\begin{matrix} \lambda\cdot e^{-\lambda x}, & x \ge 0 \\ 0, & x\lt 0 \end{matrix}\right. $$
            Оценка параметра \( \lambda \) методом максимального правдоподобия:
            $$ \bar x = \frac{1}{n} \sum_{i=1}^k n_i x_i^{\ast} \approx {{ solve.pokaz_x }} $$
            $$ \hat \lambda = \frac{1}{\bar x} \approx {{ solve.pokaz_lambda }}$$
            Построим доверительный интервал:
            $$ \frac{1}{\bar x} \left ( 1 - \frac{\lambda_{1-\frac{\alpha}{2}}}{\sqrt{n}} \right ) &#60; \lambda &#60;
            \frac{1}{\bar x} \left ( 1 + \frac{\lambda_{1-\frac{\alpha}{2}}}{\sqrt{n}} \right ) ,$$
            где \( \alpha \ - \) уровень значимости, \( (1 - \alpha) \ - \) надежность, \( \lambda_{1-\frac{\alpha}{2}}
            - \) квантили нормального распределения.
            $$ {{ solve.pokaz_levo_lambda }} &#60; \lambda &#60; {{ solve.pokaz_pravo_lambda }} \Rightarrow \lambda
            \approx {{ solve.pokaz_lambda }} \pm {{ solve.pokaz_lambdapm }} $$
            Проверяем гипотезу по критерию Пирсона:<br>
            Для показательного распределения:
            $$ P(\alpha &#60; \xi &#60; \beta) = e^{-\lambda \alpha} - e^{-\lambda \beta} $$
            Статистика Пирсона:
            $$ W = \sum \frac{(n_i - n_i^T)^2}{n_i^T} = \sum \frac{n_i^2}{n_i^T} - n ,$$
            где \( n_i^T = n\cdot p_i \). \( p_i \) и \( n_i^T \) вычисляются в предположении, что гипотеза верна.
        </p>
        <table class="tftable" id="exp-table" border="1">
            <tr>
                <th>\(№\)</th>
                <th>\(x_{i}\)</th>
                <th>\(x_{i+1}\)</th>
                <th>\(x_{i}^{\ast} \)</th>
                <th>\(n_{i} \)</th>
                <th>\(x_{i}^{\ast}\cdot n_i \)</th>
                <th>\( e^{-\lambda x_{i}} \)</th>
                <th>\( e^{-\lambda x_{i+1}} \)</th>
                <th>\(p_{i}\)</th>
                <th>\(\ n_{i}^T \)</th>
                <th>\(\frac{n_{i}^2}{n_{i}^T}\)</th>
            </tr>
        </table>
        <p class="big-formuls-ftnz">
            Следовательно наблюдаемое значение статистики Пирсона равно:
            $$ | W | \approx {{ solve.pokaz_w }} $$
            Найдем $$ W_{кр} = \chi_{1-\alpha}^2(k - 1 - l) =
            \chi_{ {{ solve.nadezhnost }} }^2( {{ solve.numberOfIntervals }} - 1 - {{ solve.l_pokaz }} ) =
            {{ solve.pokaz_wkr }} ,$$
            где \(k - \) количество интервалов разбиения, \(l - \) количество параметров распределения.
            {{ solve.pokaz_answer }}
        </p>

    </div>

    <div class="col-xs-9"></div>
    <script>
        document.addEventListener('cut', (e) => e.preventDefault());
        document.addEventListener('copy', (e) => e.preventDefault());
        document.addEventListener('contextmenu', (e) => e.preventDefault());
        document.addEventListener('keydown', (e) => (e.ctrlKey && e.keyCode === 80) ? e.preventDefault() : true);

        {#document.querySelector('#save-to-pdf').addEventListener('click', function () {#}
        {#    document.querySelector('.task-description').classList.add('ignore-to-pdf');#}
        {#    document.querySelector('#select-visible-type-of-dist').classList.add('ignore-to-pdf');#}
        {#    this.classList.add('ignore-to-pdf');#}
        {#    [].slice.call(document.querySelectorAll('hr')).forEach(function (e) {#}
        {#        e.classList.add('ignore-to-pdf');#}
        {#    });#}
        {##}
        {#    document.querySelector('header').classList.add('ignore-to-pdf');#}
        {#    [].slice.call(document.querySelectorAll('navigation')).forEach(function (value) {#}
        {#        value.classList.add('ignore-to-pdf');#}
        {#    });#}
        {##}
        {#    let mainBlock = document.querySelector('.main-block');#}
        {#    mainBlock.classList.remove('col-md-8');#}
        {#    mainBlock.classList.add('col-md-12');#}
        {#    document.querySelector('main').classList.remove('top-main');#}
        {##}
        {#    console.log(mainBlock.classList);#}
        {##}
        {#    document.querySelector('footer').classList.add('ignore-to-pdf');#}
        {#    document.querySelector('.post').style.fontSize = '18px';#}
        {##}
        {##}
        {#    new Promise((resolve) => {#}
        {#        print();#}
        {#        resolve();#}
        {#    }).then(() => {#}
        {#        mainBlock.classList.remove('col-md-12');#}
        {#        mainBlock.classList.add('col-md-8');#}
        {#        document.querySelector('main').classList.add('top-main');#}
        {#        document.querySelector('.post').style.fontSize = '14px';#}
        {#    });#}

    </script>

    <script>
        document.forms['dist'].addEventListener('submit', function (event) {
            event.preventDefault();
            [].slice.call(document.querySelectorAll('.dist')).forEach(function (e) {
                if (!e.classList.contains('hidden')) {
                    e.classList.add('hidden');
                }
            });

            [].slice.call(this.querySelectorAll('[name=type]')).forEach(function (e) {
                if (e.checked) {
                    document.querySelector('.' + e.id).classList.toggle('hidden');
                }
            });
        })
    </script>

    <script>
        document.addEventListener('DOMContentLoaded', function () {
            let zi = {{ solve.grid }},
                countOnIntervals = {{ solve.count_on_intervals }},
                indexPolygon = {{ solve.index_polygon }},
                step = '{{ solve.step }}'.replace(',', '.'),
                numberOfValues = {{ solve.numberOfValues }},
                ravnPi = {{ solve.ravn_p }},
                pokazPi = {{ solve.pokaz_p }},
                pokazLambda = '{{ solve.pokaz_lambda }}'.replace(',', '.'),
                normZi = {{ solve.norm_zi }},
                normFzi = {{ solve.norm_Fzi }},
                normPi = {{ solve.norm_p }};
            normZi.push(Infinity);
            normZi.unshift(-Infinity);


            function undefinedChecksAndFixed(elem) {
                return (elem.precision !== undefined) ? (elem.value).toFixed(elem.precision) : elem.toFixed(2);
            }

            function appendTableRow(tableId, elements) {
                let tr = document.createElement('tr');

                for (let i = 0; i < elements.length; i++) {
                    let td = document.createElement('td');

                    td.innerHTML = String(undefinedChecksAndFixed(elements[i]));
                    tr.appendChild(td);
                }

                document.querySelector('#' + tableId).appendChild(tr);
            }


            for (let i = 0; i < zi.length - 1; i++) {
                appendTableRow('main', [
                        {value: (i + 1), precision: 0},
                        zi[i], zi[i + 1],
                        countOnIntervals[i], countOnIntervals[i] / step, countOnIntervals[i] / step / numberOfValues,
                        indexPolygon[i]
                    ]
                );

                appendTableRow('even-table', [
                        {value: (i + 1), precision: 0},
                        zi[i], zi[i + 1],
                        indexPolygon[i],
                        countOnIntervals[i],
                        ravnPi[i], numberOfValues * ravnPi[i],
                        (countOnIntervals[i]) * (countOnIntervals[i]) / numberOfValues / ravnPi[i]
                    ]
                );

                appendTableRow('exp-table', [
                        {value: (i + 1), precision: 0},
                        zi[i], zi[i + 1],
                        indexPolygon[i],
                        countOnIntervals[i],
                        indexPolygon[i] * countOnIntervals[i],
                        Math.exp(-pokazLambda * zi[i]), Math.exp(-pokazLambda * zi[i + 1]),
                        pokazPi[i], numberOfValues * pokazPi[i],
                        (countOnIntervals[i]) * (countOnIntervals[i]) / numberOfValues / pokazPi[i]
                    ]
                );

                appendTableRow('norm-table', [
                        {value: (i + 1), precision: 0},
                        zi[i], zi[i + 1],
                        indexPolygon[i],
                        countOnIntervals[i],
                        indexPolygon[i] * countOnIntervals[i],
                        normZi[i], normZi[i + 1],
                        {value: normFzi[i], precision: 4}, {value: normFzi[i + 1], precision: 4},
                        {value: normPi[i], precision: 4},
                        numberOfValues * normPi[i],
                        (countOnIntervals[i]) * (countOnIntervals[i]) / numberOfValues / normPi[i]
                    ]
                );
            }

            let numbers = {{ solve.numbers }};
            let numbers_sort = {{ solve.numbers_sort }};


            for (let i = 0; i < numbers.length; i += 10) {
                appendTableRow('numbers', numbers.slice(i, i + 10));
                appendTableRow('numbers-sort', numbers_sort.slice(i, i + 10));
            }

        });
    </script>


    <script type="text/javascript">

        createChart(
            'numbers-chart', 'line', {{ solve.index }},
            [
                {
                    type: 'line',
                    data: {{ solve.numbers }},
                },
            ],
            'Выборочная диаграмма'
        );

        createChart(
            'numbers-sort-chart', 'line', {{ solve.index }},
            [
                {
                    type: 'line',
                    data: {{ solve.numbers_sort }},
                },
            ],
            'Вариационная диаграмма'
        );

        createChart(
            'efr-chart', 'line', {{ solve.index_efr }},
            [
                {
                    type: 'line',
                    data: {{ solve.efr }},
                    steppedLine: false,
                },
            ],
            'Эмпирическая функция распределения (ЭФР)'
        );


        createChart(
            'polygon-chart', 'bar', {{ solve.index_polygon  }},
            [
                {
                    type: 'line',
                    data: {{ solve.epr }}
                },
                {
                    type: 'bar',
                    data: {{ solve.epr }}
                },
            ],
            'Гистограмма и полигон', 1.2
        );

        function createChart(canvasId, type, labels, datasets, title, barPercentage) {

            let chartDataset = [];
            for (let i = 0; i < datasets.length; i++) {
                chartDataset.push(
                    {
                        type: datasets[i].type,
                        data: datasets[i].data,
                        borderColor: 'rgba(93,133,245, 1)',
                        borderWidth: 3,
                        fill: false,
                        steppedLine: datasets[i].steppedLine,
                        lineTension: 0,
                        pointBackgroundColor: 'white',
                        pointBorderColor: 'black',
                        pointBorderWidth: 1,
                        pointRadius: 3,
                        pointHoverBackgroundColor: 'black',
                        showLine: true,
                    }
                )
            }

            new Chart(document.getElementById(canvasId).getContext('2d'), {
                type: type,
                data: {
                    labels: labels,
                    datasets: chartDataset
                },
                options: {
                    legend: false,
                    responsive: true,
                    title: {
                        display: true,
                        text: title
                    },
                    scales: {
                        xAxes: [{
                            display: true,
                            barPercentage: barPercentage,
                        }],
                        yAxes: [{
                            display: true,
                        }]
                    }
                }
            });
        }

    </script>

{% else %}

    <form class="form-horizontal" action="{{ task.get_absolute_url }}" method="get">
        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="sample">Введите выборку: </label>
            </div>
            <div class="col-xs-9">
                    <textarea id="sample" class="form-control"
                              name="numbers" required maxlength="5000" rows="4"></textarea>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="razb">Введите число разбиений (необязательно): </label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="number" id="razb" name="razb">
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-3">
                <label class="control-label" for="1-alpha">Введите надежность: </label>
            </div>
            <div class="col-xs-9">
                <input class="form-control" type="text" id="1-alpha" name="1-alpha" required>
            </div>
        </div>

        <div class="form-group">
            <div class="col-xs-12">
                <button class="btn btn-success" type="submit">Получить решение!</button>
            </div>
        </div>
    </form>

{% endif %}